torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
accelerate==0.33.0
bddl==1.0.1
boto3==1.38.32
botocore==1.38.32
cloudpickle
datasets==4.0.0
diffusers==0.30.2
git+https://github.com/kvablack/dlimp#egg=dlimp
draccus==0.10.0
easydict==1.9
einops==0.4.1
future==0.18.2
gcsfs
gym==0.25.2
hydra-core==1.2.0
imageio
imageio-ffmpeg==0.6.0
jsonlines==4.0.0
git+https://github.com/yinchimaoliang/LIBERO.git#egg=libero
matplotlib
mmengine==0.10.7
mujoco==3.3.2
numpy==1.26.4
opencv-python
peft==0.11.1
robomimic==0.2.0
robosuite==1.4.1
sentencepiece==0.1.99
sentry-sdk==2.27.0
tensorflow==2.15.0
tensorflow-graphics
thop==0.1.1-2209072238
timm==0.9.10
tqdm-loggable==0.2
transformers==4.53.2
types-boto3-s3==1.38.26
wandb==0.21.0
